In [89]:
from elasticsearch import Elasticsearch
from elasticsearch.helpers import bulk, parallel_bulk
from sentence_transformers import SentenceTransformer, util
import ir_measures
from ir_measures import *
import pandas as pd
import json
from tqdm import tqdm
import numpy as np

## Elastic Search Connection

In [45]:
elastic_search = Elasticsearch('http://localhost:9200')

## Index Configuration for Elastic Search

In [46]:
mapp = {
    'properties': {
        'text': {
            'type': 'text',
            'analyzer': 'white'
        }
    }
}

sett = {
    "number_of_shards" : 5,
    'index' : {
        'similarity' : {
          'default' : {
            'type' : 'BM25'   # default config
          }
        }
    },
    'analysis' : {
        'analyzer' : {
            'white' : {
                'tokenizer' : 'whitespace'
            }
        }
    }
}

if elastic_search.indices.exists(index='wikiir'):
    elastic_search.indices.delete(index='wikiir')
elastic_search.indices.create(index='wikiir', settings=sett, mappings=mapp)

C:\Users\kuany\AppData\Local\Temp\ipykernel_9276\2775501348.py:28: ElasticsearchWarning: Elasticsearch built-in security features are not enabled. Without authentication, your cluster could be accessible to anyone. See https://www.elastic.co/guide/en/elasticsearch/reference/7.15/security-minimal-setup.html to enable security.
  if elastic_search.indices.exists(index='wikiir'):
C:\Users\kuany\AppData\Local\Temp\ipykernel_9276\2775501348.py:29: ElasticsearchWarning: Elasticsearch built-in security features are not enabled. Without authentication, your cluster could be accessible to anyone. See https://www.elastic.co/guide/en/elasticsearch/reference/7.15/security-minimal-setup.html to enable security.
  elastic_search.indices.delete(index='wikiir')
C:\Users\kuany\AppData\Local\Temp\ipykernel_9276\2775501348.py:30: ElasticsearchWarning: Elasticsearch built-in security features are not enabled. Without authentication, your cluster could be accessible to anyone. See https://www.elastic.co/guide/en/elasticsearch/reference/7.15/security-minimal-setup.html to enable security.
  elastic_search.indices.create(index='wikiir', settings=sett, mappings=mapp)

ObjectApiResponse({'acknowledged': True, 'shards_acknowledged': True, 'index': 'wikiir'})

## WikiIR Collection Document Reading

In [47]:
df = pd.read_csv('documents.csv')

print(df.shape)
df.head()

(369721, 2)

   id_right                                         text_right
0   1781133  it was used in landing craft during world war ...
1   2426736  after rejecting an offer from cambridge univer...
2   2224122  mat zan coached kuala lumpur fa in 1999 and wo...
3    219642  a barcode is a machine readable optical label ...
4   1728654  since the subordination of the monarchy under ...

## Indexing the documents using by Using Elastic Search

In [48]:
def create_es_action(index, doc_id, document):
    return {
        '_index': index,
        '_id': doc_id,
        '_source': document
    }


def es_action_generator(df):
    for doc_id, row in tqdm(df.iterrows(), total=df.shape[0], bar_format='{l_bar}{bar:30}{r_bar}{bar:-10b}'):
        doc = {
            'text': row['text_right'],
        }
        yield create_es_action('wikiir', row['id_right'], doc)
        

for ok, result in parallel_bulk(elastic_search, es_action_generator(df), queue_size=4, thread_count=4, chunk_size=1000):
    if not ok:
        print(result)

elastic_search.indices.refresh(index='wikiir')
elastic_search.cat.count(index='wikiir', format='json')

  2%|▌                             | 6216/369721 [00:00<00:28, 12939.09it/s]                                           D:\Conda\lib\multiprocessing\pool.py:125: ElasticsearchWarning: Elasticsearch built-in security features are not enabled. Without authentication, your cluster could be accessible to anyone. See https://www.elastic.co/guide/en/elasticsearch/reference/7.15/security-minimal-setup.html to enable security.
  result = (True, func(*args, **kwds))
100%|██████████████████████████████| 369721/369721 [00:40<00:00, 9106.94it/s]
C:\Users\kuany\AppData\Local\Temp\ipykernel_9276\4175655415.py:21: ElasticsearchWarning: Elasticsearch built-in security features are not enabled. Without authentication, your cluster could be accessible to anyone. See https://www.elastic.co/guide/en/elasticsearch/reference/7.15/security-minimal-setup.html to enable security.
  elastic_search.indices.refresh(index='wikiir')
C:\Users\kuany\AppData\Local\Temp\ipykernel_9276\4175655415.py:22: ElasticsearchWarning: Elasticsearch built-in security features are not enabled. Without authentication, your cluster could be accessible to anyone. See https://www.elastic.co/guide/en/elasticsearch/reference/7.15/security-minimal-setup.html to enable security.
  elastic_search.cat.count(index='wikiir', format='json')

ListApiResponse([{'epoch': '1680446251', 'timestamp': '14:37:31', 'count': '369721'}])

## Testing query

In [49]:
testing = pd.read_csv('wikIR1k/test/queries.csv')
testing

    id_left                           text_left
0    158491       southern methodist university
1      5728                             halakha
2     13554  chief justice of the united states
3     32674                         patsy cline
4    406391                      dierks bentley
..      ...                                 ...
95   679227                            hiv aids
96  2136797                        maren morris
97     5622                               homer
98  1313598                          south pole
99   712704                         west indies

[100 rows x 2 columns]

## BM25 scoring document creation

In [50]:
global res

def pretty_print_result(search_result, scoring=[]): # make a pretty printing
    global res
    res = search_result['hits']
    for hit in res['hits']:
        print(f'Doc {hit["_id"]}, score is {hit["_score"]}')
        for score in scoring:
            print(f'{score}: {hit["_source"][score]}')
    
    
def search(query, *args):             #searches document in the whole buffer of documents(train) and retrieves top 20 documents from the train set according to the rank of query in that document 
    return pretty_print_result(elastic_search.search(index='wikiir', query=query, size=20), args)


def get_doc_by_id(doc_id):             #retrieve the document by its id 
    return elastic_search.get(index='wikiir', id=doc_id)['_source']


def make_query(text):  # make a query from the document
    return {
        'bool': {
            'must': {
                'match': {
                    'text': text
                }
            }
        }
    }

print("Query ID:", testing['id_left'][0])
print("Text of Query:", testing['text_left'][0])
search(make_query(testing['text_left'][0]))

Query ID: 158491
Text of Query: southern methodist university
Doc 1880296, score is 17.230719
Doc 607552, score is 17.198406
Doc 2261272, score is 17.183655
Doc 1957435, score is 16.908918
Doc 625257, score is 16.856976
Doc 635537, score is 16.771313
Doc 1774491, score is 16.640131
Doc 663828, score is 16.487574
Doc 158491, score is 15.997955
Doc 1956922, score is 15.973572
Doc 1180246, score is 15.590252
Doc 1170039, score is 15.534702
Doc 945068, score is 15.526761
Doc 360918, score is 15.501228
Doc 589549, score is 15.501228
Doc 685181, score is 15.335788
Doc 2411344, score is 15.325968
Doc 1158969, score is 15.273922
Doc 1093529, score is 15.163386
Doc 742912, score is 15.109789

C:\Users\kuany\AppData\Local\Temp\ipykernel_9276\3993421522.py:13: ElasticsearchWarning: Elasticsearch built-in security features are not enabled. Without authentication, your cluster could be accessible to anyone. See https://www.elastic.co/guide/en/elasticsearch/reference/7.15/security-minimal-setup.html to enable security.
  return pretty_print_result(es.search(index='wikiir', query=query, size=20), args)

In [51]:
print(f'Total documents: {res["total"]["value"]}')

Total documents: 10000

In [52]:
res

{'total': {'value': 10000, 'relation': 'gte'},
 'max_score': 17.230719,
 'hits': [{'_index': 'wikiir',
   '_type': '_doc',
   '_id': '1880296',
   '_score': 17.230719,
   '_source': {'text': 'lindsay embrey september 23 1925 november 11 2005 was an american real estate developer and philanthropist he was a primary benefactor of southern methodist university in dallas texas he served as a member of the board of trustees of southern methodist university from 1970 to 1987 in 1978 he established an endowment for students majoring in engineering at the university this endowment has provided scholarships for over 2 000 engineering students in 1991 he was named emeritus of the board of trustees james lindsay embrey jr was born in 1925 in gainesville texas he was the son of james lindsay and margaret n e marsh embrey his great grandfather was james menees lindsay 1835 1919 who migrated to cooke county texas from tennessee in 1857 and became a real estate developer judge and philanthropist he graduated with honors from gainesville high school he received a bachelor of science degree in civil engineering from southern methodist university in 1945 in 1947 after completing his service in the v 12 navy college training program he received a bachelor s degree in business administration from the university he was president of phi delta theta a member of cycen fjodr and lettered as a'}},
  {'_index': 'wikiir',
   '_type': '_doc',
   '_id': '607552',
   '_score': 17.198406,
   '_source': {'text': 'he served as the third president of southern methodist university from 1923 to 1938 in 1938 he was elected as an american bishop in the methodist episcopal church south charles claude selecman was born on october 13 1874 in savannah missouri in 1882 he attended central college in fayette missouri but never graduated selecman worked as a pastor in pattonsburg missouri in 1898 later he was a missionary in louisiana and missouri in 1913 he was a pastor in los angeles california by 1914 he became the pastor of the newly built trinity auditorium in downtown los angeles selecman moved to dallas texas in 1920 where he became the pastor of the newly built first methodist church south three years later he was appointed as the third president of southern methodist university serving from 1923 to 1938 under his leadership the campus buildings went from two to seven and the endowment from us 883 000 to us 2 300 000 selecman resigned in 1938 and became a bishop in oklahoma city he moved back to dallas in 1944 in 1945 he was elected president of the council of bishops of the methodist church he also served as the president of'}},
  {'_index': 'wikiir',
   '_type': '_doc',
   '_id': '2261272',
   '_score': 17.183655,
   '_source': {'text': 'he is a multiple lithuanian champion who represented his country at 2009 european junior swimming championships in prague andriunaitis also participated at len european championships in 2010 and 2011 summer universiade and other international competitions over the world andriunaitis was a member of the swimming team for smu mustangs at the southern methodist university in dallas texas andriunaitis was a significant contributor to the mustangs in winning conference usa titles andriunaitis was born in kaunas lithuania on 16 june 1991 the son of edmundas and vida has a sister indre he attended a uolas catholic secondary school in kaunas city after graduating from high school andriunaitis moved to the u s and represented southern methodist university and smu mustangs for four years he received bachelors of business administration degree in finance from southern methodist university in 2014 currently andriunaitis is attending texas a m university commerce where he is pursuing masters of science degree in business analytics he is an active member of dallas aquatic masters swim club and u s masters swimming in 2009 andriunaitis became a lithuanian junior champion in the 100 meters freestyle clocking 0 51 98 sec this result allowed him to qualify for european junior'}},
  {'_index': 'wikiir',
   '_type': '_doc',
   '_id': '1957435',
   '_score': 16.908918,
   '_source': {'text': 'after serving as head of the department of religious education at southern methodist university in dallas texas he served as the president of scarritt college for christian workers which he moved from kansas city missouri to nashville tennessee jessee lee cuninggim was born in 1870 in north carolina he received a bachelor of arts degree from the university of north carolina at chapel hill and a master s degree from the university of chicago he also studied theology at vanderbilt university in nashville tennessee cuninggim served as head of the department of religious education at southern methodist university in dallas texas he later received an honorary doctor of divinity from smu cuninggim then served as the president of scarritt college for christian workers then known as the scarritt bible and training school a girl s missionary seminary affiliated with the methodist episcopal church south in kansas city missouri in 1923 he moved it to nashville tennessee on the edge of vanderbilt university and peabody college and renamed it scarritt college his goal was to increase its academic focus later he also served as director of the department of ministerial supply and training at vanderbilt university and taught religion in wesley'}},
  {'_index': 'wikiir',
   '_type': '_doc',
   '_id': '625257',
   '_score': 16.856976,
   '_source': {'text': 'william and martha england hay his grandfather was an influential local preacher the hays moved to texas about 1881 samuel attended centenary college southwestern university and southern college lakeland florida he was licensed to preach in 1886 joining the north texas annual conference of the m e church south in 1887 prior to his election to the episcopacy hay was a pastor and a presiding elder he was elected bishop 16 may 1922 and placed in charge of all american southern methodist episcopal mission work in china returning to the united states in 1924 he resided in several episcopal areas in the south and west of the country and assisted in the development of the methodist church in mexico on june 26 1928 he offered the opening invocation at the 1928 democratic national convention in houston hay died on 4 february 1944 in houston texas leete frederick deland methodist bishops nashville the methodist publishing house 1948'}},
  {'_index': 'wikiir',
   '_type': '_doc',
   '_id': '635537',
   '_score': 16.771313,
   '_source': {'text': 'it is regionally accredited by the southern association of colleges and schools commission on colleges methodist university offers over 80 majors and concentrations in five undergraduate schools and five graduate programs the school s first doctoral level program the doctor of physical therapy program began enrolling students in fall 2015 a second doctoral level program the doctor of occupational therapy program enrolled its inaugural class in august of 2018 methodist university enrolls a diverse student body from over 41 states and more than 53 countries these students are involved in over 100 clubs and student organizations and 20 ncaa division iii athletic teams monarch teams have won 59 team and individual national championships in just under 50 years of competition as well as capturing 116 conference championships and amassing 286 all americans and 51 academic all americans the university has graduated over 12 000 alumni since its first graduating class in 1964 methodist university is one of the fastest growing institutions in the southeast having almost doubled enrollment since 1990 in 2013 methodist university announced a 35 million capital campaign entitled building excellence the campaign for methodist university which would fund the new thomas r mclean health sciences building several'}},
  {'_index': 'wikiir',
   '_type': '_doc',
   '_id': '1774491',
   '_score': 16.640131,
   '_source': {'text': 'most of his writings are interpretative of the religion and promotional booklets he attended hendrix college and birmingham southern college which awarded him a b a degree he received an m a from george peabody college for teachers then attended temple university where he earned a b d and th d he was later awarded honorary degrees by florida southern college ll d and southwestern university litt d clark served the methodist episcopal church south mecs and the methodist church for a total of 58 years until his retirement in 1952 he worked for the st louis conference and at denominational headquarters in nashville tennessee and new york city he was a historian of the denomination serving as leader of the association of methodist historical societies for two decades and was a prolific writer of books and tracts from 1939 until 1952 he served as editor of world outlook now new world outlook he was a frequent correspondent of duke university president william preston few the elmer t clark papers were received by the duke university archives as a transfer in 1973 1986 this is only a few of the many titles elmer t clark wrote and published social studies'}},
  {'_index': 'wikiir',
   '_type': '_doc',
   '_id': '663828',
   '_score': 16.487574,
   '_source': {'text': 'elias married zoraida freytes a native of puerto rico also raised in a united methodist parsonage 12 july 1986 they have one daughter hope born 20 september 1988 galvan attended high school at the instituteo mexicano madero in puebla a methodist boarding school on a scholarship from the spanish american institute a united methodist institution related to the former southern california arizona annual conference he attended compton junior college later earning a b a degree from california state university at long beach he then earned a rel d degree at the school of theology at claremont elias was ordained a deacon and became a probationary member of the southern california arizona conference of the methodist church in 1964 he was received into full connection and ordained an elder in 1970 as a pastor rev galvan served the following appointments in the southern california arizona conference asbury church associate and as pastor of the city terrace church and of the church of all nations in los angeles he then served as director of ethnic planning and strategy 1971 74 he then was appointed superintendent of the santa barbara district 1974 79 also serving two years as dean of the cabinet he'}},
  {'_index': 'wikiir',
   '_type': '_doc',
   '_id': '158491',
   '_score': 15.997955,
   '_source': {'text': 'smu also operates satellite campuses in plano texas and taos new mexico founded in 1911 by the methodist episcopal church south smu is owned by the south central jurisdiction of what is now the united methodist church there are more catholics enrolled than methodists and the university is non sectarian in its teachings as of the fall 2019 semester the university s 11 824 students are 6 710 undergraduates and 5 114 postgraduates from all 50 states and 85 countries with a gender distribution of 51 percent male students and 49 percent female students the university grants degrees from eight schools the dedman college of humanities and sciences bobby b lyle school of engineering meadows school of the arts annette caldwell simmons school of education and human development perkins school of theology cox school of business dedman school of law and smu guildhall as well as research and graduate studies the university was chartered on april 17 1911 by the southern denomination of the methodist episcopal church at the time of the charter church leaders saw a need to establish a methodist institution within a metropolitan area originally this new institution was intended to be created in fort worth through'}},
  {'_index': 'wikiir',
   '_type': '_doc',
   '_id': '1956922',
   '_score': 15.973572,
   '_source': {'text': 'he served as the president of the university of alabama from 1871 to 1874 additionally he served as state chemist of alabama nathaniel thomas lupton was born on december 30 1830 near winchester virginia his father was nathaniel lupton and his mother elizabeth hodgson he was raised as a methodist and would remain a devout methodist all his life he was educated at the defunct newark academy in delaware he attended dickinson college in carlisle pennsylvania from 1846 to 1849 where he was a member of the belles lettres society he graduated in 1849 planning to study the law he started his career teaching chemistry at aberdeen female college a methodist women s school in aberdeen mississippi in 1852 he moved to petersburg virginia where he taught chemistry in another methodist school from 1854 to 1856 he served as president of petersburg college even though he was only twenty four years old in 1856 he became a professor of chemistry at randolph macon college in ashland virginia he went traveling in europe and took lessons from renowned german chemist robert bunsen 1811 1899 at the heidelberg university in heidelberg germany back in the us he taught chemistry at southern university'}},
  {'_index': 'wikiir',
   '_type': '_doc',
   '_id': '1180246',
   '_score': 15.590252,
   '_source': {'text': 'his most recent book is black stone monkey sea editions 2009 his poems have been published in literary journals and magazines including 5 a m black warrior review mid american review pittsburgh quarterly southwest review and west branch his poems have also been read by garrison keillor on the nationally syndicated radio show the writer s almanac born in 1954 in houston texas simms attended the school of irish studies in dublin ireland southern methodist university ba 1976 and the university of iowa mfa 1978 in addition to his literary career simms has written and published on health nutrition and the environment having earned a certificate in plant based nutrition from cornell university 2015 from 1979 1987 he served on the faculty of southern methodist university and from 2005 2013 in chatham university master of fine arts program in creative writing in 1998 simms founded the literary publisher autumn house press in pittsburgh pennsylvania where he served as editor in chief until 2016 he has been the lead editor on over 100 full length books of poetry fiction and nonfiction by authors such as gerald stern ed ochester martha rhodes jo mcdougall chana bloch samuel ligon samuel hazo sue ellen'}},
  {'_index': 'wikiir',
   '_type': '_doc',
   '_id': '1170039',
   '_score': 15.534702,
   '_source': {'text': 'he played the 1952 nfl season for the new york giants benners also played at southern methodist university and is considered one of the greatest mustang players of all time a native of dallas texas benners attended highland park high school in the dallas suburb of university park in 1947 he took the scots to the texas state final which his team lost 22 13 to brackenridge high school of san antonio benners then attended and later southern methodist in dallas where he was part in one of the greatest upsets in college football history on october 13 1951 smu beat university of notre dame 27 20 in a rare nationally televised game powered by benners historic performance as he hit on 22 passes in 44 attempts for 326 yards and four touchdowns no one could have been more adroit in picking the spot for a super duper performance wrote the new york times already picked in the 1951 nfl draft by the new york giants at 97th overall benners played his rookie season in 1952 he then however left the nfl pursuing a career as lawyer in dallas'}},
  {'_index': 'wikiir',
   '_type': '_doc',
   '_id': '945068',
   '_score': 15.526761,
   '_source': {'text': 'prior to his election to the episcopacy rev martinez gained notability as a pastor and district superintendent in the methodist and united methodist churches and as a denominational official in the area of ethnic ministries martinez was born 3 february 1940 in seguin texas he was the eldest of four children born to guadalupe and dora martinez martinez is a grandson of sharecropper farmers who came to the united states at the turn of the nineteenth century martinez was baptized at the iglesia metodista unida la trinidad where his parents are still active members martinez met raquel mora while in college in el paso texas they were married 9 june 1961 she was born in allende coahuila mexico where her father was a methodist pastor the mora family came to the united states when raquel was twelve years old joel and raquel have three children patricia john and rebeca martinez earned the b a degree in history from the university of texas at el paso in 1961 his wife attended the lydia patterson institute in el paso at the same time martinez went on to graduate from the perkins school of theology at southern methodist university dallas texas in 1965'}},
  {'_index': 'wikiir',
   '_type': '_doc',
   '_id': '360918',
   '_score': 15.501228,
   '_source': {'text': 'it has a relationship with claremont graduate university which allows the two schools to share faculty members library resources cultural events and joint academic research endeavors founded as the maclay school of theology in san fernando california in 1885 the methodist seminary was founded by charles maclay founder of the town of san fernando former methodist minister and state senator the school became affiliated with the university of southern california from 1900 to 1957 staying on the usc campus until it moved to its present location in claremont the school is one of thirteen seminaries affiliated with the united methodist church though usually more than forty different denominations are represented in the student body in any given school term in a 2008 meeting the board of trustees set in motion the claremont university project by approving the following mission statement as an ecumenical and inter religious institution claremont school of theology seeks to instill students with the ethical integrity religious intelligence and intercultural understanding necessary to become effective in thought and action as leaders in the increasingly diverse multireligious world of the 21st century on may 16 2011 the university project was officially named claremont lincoln university in doing so'}},
  {'_index': 'wikiir',
   '_type': '_doc',
   '_id': '589549',
   '_score': 15.501228,
   '_source': {'text': 'a 1925 graduate of lawrence university in appleton wisconsin he earned the master of arts from the university of illinois in 1926 and the ph d from illinois in 1928 he was a faculty member at american university and from 1930 to 1958 a professor of economics at the college of william and mary in his last six years at william and mary he was dean of the faculty he was involved in civic affairs in williamsburg serving on several economic planning agencies an active churchman he was a member of several annual conference boards in the virginia and south carolina conferences and a member of the methodist general conference dr marsh also served as a member of the methodist commission on church union and as a member of the university senate of the methodist church active in the affairs of the southern association of colleges and schools he was a member of the sacs executive council at the time of the integration crisis at the university of mississippi dr marsh retired from the presidency of wofford in 1968 returning to williamsburg to teach in the graduate school at william and mary a dormitory at wofford is named in his'}},
  {'_index': 'wikiir',
   '_type': '_doc',
   '_id': '685181',
   '_score': 15.335788,

## Evaluation of BM25 scoring document

In [53]:
query_doc = {}

for i, row in test_queries.iterrows():
    search_res = elastic_search.search(index='wikiir', query=make_query(row['text_left']), size=20)['hits']
    query_doc[str(row['id_left'])] = {}
                 
    for hit in search_res['hits']:
        query_doc[str(row['id_left'])][hit['_id']] = hit['_score']

C:\Users\kuany\AppData\Local\Temp\ipykernel_9276\3954238522.py:4: ElasticsearchWarning: Elasticsearch built-in security features are not enabled. Without authentication, your cluster could be accessible to anyone. See https://www.elastic.co/guide/en/elasticsearch/reference/7.15/security-minimal-setup.html to enable security.
  search_res = es.search(index='wikiir', query=make_query(row['text_left']), size=20)['hits']

In [54]:
qrels = ir_measures.read_trec_qrels('wikIR1k/test/qrels')

ir_measures.calc_aggregate([P@10, P@20, MAP@20], qrels, query_doc)

{P@20: 0.14700000000000005,
 P@10: 0.20599999999999988,
 AP@20: 0.14572550811737783}

In [55]:
len(query_doc)

100

## Initiating MSMARCO Model and creating Cosine similarity scoring document

In [105]:
def get_cosine_similarity_testing_document_from_model(model, query_doc):
    '''
    Args:
        model: SentenceTransformer model('msmarco-distilbert-cos-v5')
        query_doc: queryid-document-score nested dict
    Returns:
        query_doc_cosine: queryid-document-cosine_similarity_score nested dict
    '''

    q_ids = list(query_doc.keys())  # q_ids -- list of strings
    query_doc_cosine = {}

    for q_id in tqdm(q_ids, total=len(q_ids), bar_format='{l_bar}{bar:30}{r_bar}{bar:-10b}'):
        
        # encoding the query
        query_text = testing[testing['id_left']==int(q_id)].iloc[0]['text_left']
        query_embedding = model.encode(query_text)
        query_doc_cosine[q_id] = {}

        # documents encoding
        docs_texts = []
        for doc_id in query_doc[str(q_id)]:
            docs_texts.append(df[df['id_right']==int(doc_id)].iloc[0]['text_right'])
        docs_embedding = model.encode(docs_texts)

        # computing cosine similarity
        if len(docs_embedding) == 0:
            continue
        cos_sim_score = util.cos_sim(query_embedding, docs_embedding)[0]
        for i, doc_id in enumerate(query_doc[str(q_id)]):
            query_doc_cosine[q_id][doc_id] = cos_sim_score[i].item()
            
    return query_doc_cosine

## Evaluation of Cosine Similarity scoring document

In [57]:
model = SentenceTransformer('msmarco-distilbert-cos-v5')

query_doc_cosine = get_cosine_similarity_testing_document_from_model(model, query_doc)

100%|██████████████████████████████| 100/100 [04:46<00:00,  2.87s/it]

In [58]:
qrels = ir_measures.read_trec_qrels('wikIR1k/test/qrels')

ir_measures.calc_aggregate([P@10, P@20, MAP@20], qrels, query_doc_cosine)

{P@20: 0.14800000000000005,
 P@10: 0.2339999999999999,
 AP@20: 0.17022283800557722}

## Printing the scores of the first testing query id

In [59]:
print("Query ID: ", list(query_doc_cosine.keys())[0])
for i in range (20):
    print("Doc",list(query_doc_cosine['158491'].keys())[i],", score",round(query_doc_cosine['158491'][list(query_doc_cosine['158491'].keys())[i]],3))

Query ID:  158491
Doc 1880296 , score 0.267
Doc 607552 , score 0.382
Doc 2261272 , score 0.188
Doc 1957435 , score 0.368
Doc 625257 , score 0.247
Doc 635537 , score 0.506
Doc 1774491 , score 0.327
Doc 663828 , score 0.199
Doc 158491 , score 0.44
Doc 1956922 , score 0.164
Doc 1180246 , score 0.159
Doc 1170039 , score 0.264
Doc 945068 , score 0.163
Doc 589549 , score 0.22
Doc 360918 , score 0.384
Doc 685181 , score 0.22
Doc 2411344 , score 0.098
Doc 1158969 , score 0.275
Doc 1093529 , score 0.277
Doc 742912 , score 0.373

# Bonus Part

## Reading the train subset

In [62]:
training = pd.read_csv('wikIR1k/train/queries.csv')
training

      id_left                              text_left
0      123839                                  yanni
1      188629                                  k pop
2       13898                   venice film festival
3      316959                      downtown brooklyn
4      515031  pennsylvania house of representatives
...       ...                                    ...
1439   896124                         british ceylon
1440    12319                scottish national party
1441     4421                        cinema of china
1442   296526                            gold mining
1443   341793    gloucestershire county cricket club

[1444 rows x 2 columns]

In [63]:
search(make_query(training['text_left'][0]))

Doc 123839, score is 18.237452
Doc 806300, score is 17.769026
Doc 806326, score is 17.390072
Doc 836567, score is 16.393133
Doc 1793430, score is 15.605509
Doc 806075, score is 15.605509
Doc 806263, score is 14.116629
Doc 799188, score is 10.251266
Doc 1901730, score is 9.908206
Doc 817579, score is 9.660697
Doc 1727316, score is 9.660697

C:\Users\kuany\AppData\Local\Temp\ipykernel_9276\3993421522.py:13: ElasticsearchWarning: Elasticsearch built-in security features are not enabled. Without authentication, your cluster could be accessible to anyone. See https://www.elastic.co/guide/en/elasticsearch/reference/7.15/security-minimal-setup.html to enable security.
  return pretty_print_result(es.search(index='wikiir', query=query, size=20), args)

In [64]:
print(f'Total documents: {res["total"]["value"]}')

Total documents: 11

In [65]:
res

{'total': {'value': 11, 'relation': 'eq'},
 'max_score': 18.237452,
 'hits': [{'_index': 'wikiir',
   '_type': '_doc',
   '_id': '123839',
   '_score': 18.237452,
   '_source': {'text': 'although this genre of music was not well suited for commercial pop radio and music television yanni received international recognition by producing concerts at historic monuments and by producing videos that were broadcast on public television his breakthrough concert live at the acropolis yielded the second best selling music concert video of all time additional historic sites for yanni s concerts have included india s taj mahal china s forbidden city the united arab emirates burj khalifa russia s kremlin puerto rico s el morro castle lebanon s ancient city of byblos tunisia s roman theatre of carthage india s laxmi vilas palace the egyptian pyramids and great sphinx of giza and the amman citadel at least sixteen of yanni s albums have peaked at no 1 in billboard s top new age album category and two albums dare to dream and in my time received grammy award nominations yanni has performed in more than 30 countries on five continents and through late 2015 yanni had performed live in concert before more than 5 million people and had accumulated more than 40 platinum and gold albums globally with sales totaling over 25 million copies a longtime fundraiser for public television'}},
  {'_index': 'wikiir',
   '_type': '_doc',
   '_id': '806300',
   '_score': 17.769026,
   '_source': {'text': 'it is a compilation of tracks from his five previous studio albums released between 1980 and 1989 plus three new compositions yanni was encouraged to release the album by his then partner actress linda evans reflections of passion became yanni s fastest selling and most successful album of his career upon release it reached no 1 on the billboard top new age albums chart and no 29 on the billboard 200 yanni supported the album with a nationwide concert tour in 1990 that featured his band and an orchestra in 1995 it was certified double platinum for selling 2 million copies in the us in august 1989 yanni released his fifth studio album niki nana the album marked his stylistic development from solo keyboard music towards rock with the addition of additional vocalists musicians and choir around the same time of its release yanni s newfound relationship with american actress linda evans who had become a fan of his music received press attention not long into their relationship evans pitched an idea she had for an album from yanni which was long in duration reflected a single mood throughout and something that she could play at dinner parties she mentioned'}},
  {'_index': 'wikiir',
   '_type': '_doc',
   '_id': '806326',
   '_score': 17.390072,
   '_source': {'text': 'the album peaked at no 1 on billboard s top new age album chart and at no 21 on the billboard 200 chart in the same year the corresponding concert tour in 1998 was the tribute world tour 1998 tribute pays musical homage to india on several songs greek born composer and keyboardist yanni describes the album as a tribute to the builders of the taj and the forbidden city as well as to the people of india and china yanni s ethereal keyboard work is backed by orchestra vocalists a choir and various world instruments including didgeridoo duduk charango and bamboo saxophone yanni hired armen anassian as conductor on faith as he had never watched him conduct an orchestra that s how yanni does many things anassian said in a 1998 interview with the toledo blade anassian concedes that he had some doubts about the artist s plans to perform at india s taj mahal and china s forbidden city for tribute to be honest a few years ago when he was talking about it the idea was so amazing i myself was very skeptical understandably so but the truth is it happened we did it anassian said the'}},
  {'_index': 'wikiir',
   '_type': '_doc',
   '_id': '836567',
   '_score': 16.393133,
   '_source': {'text': 'adams was born in joliet illinois band members of regional rock band chameleon included adams on drums vocals and percussion yanni on keyboards and synthesizers dugan mcneill on lead vocals and bass guitars johnny donaldson on all guitars and mark anthony on lead vocals and keyboards their albums included chameleon techno color hologram sky and balance the group was noted for adams revolving gyroscope drum kit who played his rapidly spinning drums before m tley cr e s tommy lee s similar arrangement in 1987 yanni was putting together his first touring band to promote his album out of silence as well as selections from keys to imagination this early band included yanni john tesh and joyce imbesi on keyboards and adams on drums adams is widely recognized for his drum solo on the live at the acropolis concert film he is also featured in the live at royal albert hall released in 1995 when yanni staged his tribute concerts in 1996 1997 adams did not join him as he had to stay back in the united states to deal with issues on his son s autism and help raise him joel taylor became the substitute drummer for the said'}},
  {'_index': 'wikiir',
   '_type': '_doc',
   '_id': '1793430',
   '_score': 15.605509,
   '_source': {'text': 'the two concerts were performed outdoors on the grounds of el morro castle in san juan puerto rico in december 2011 the cd peaked at 1 on billboard s new age album list in both 2012 and 2013 live at el morro puerto rico was recorded and filmed during two sold out concerts performed outdoors on december 16 and 17 2011 on the grounds of the castillo san felipe del morro el morro a unesco world heritage site in the old san juan yanni had reportedly planned for twenty years to perform at the historic site yanni explained that two concerts were planned for friday and saturday night with the ensuing sunday being a contingent rain day it reportedly rained for 25 days in a row preceding the first night s concert on friday and the first concert itself was interrupted and eventually cut short three quarters of the way through by rain and wind causing danger for the outdoor performance the evening of the second show saturday the weather was better and the show was completed as planned yanni said that 35 cameras and three live camera operators were able to capture the show departing the island on sunday'}},
  {'_index': 'wikiir',
   '_type': '_doc',
   '_id': '806075',
   '_score': 15.605509,
   '_source': {'text': 'it was recorded at the herodes atticus theatre in athens greece during his 1993 tour in support of his eighth studio album in my time 1993 the concert took a year and a half to organise and cost yanni 2 million of his own money to fund he performs with his six piece band and the royal philharmonic orchestra conducted by shahrdad rohani the album was mixed and produced by yanni in his studio and was made into a television special which aired in the united states on public broadcasting service pbs live at the acropolis received a mostly positive reception from music critics it was an instant commercial success reaching number one on the billboard new age albums chart and number 5 on the billboard 200 it remains yanni s highest selling release with 4 million albums and 600 000 home videos sold in the united states and an estimated 7 million copies sold worldwide in 1994 the video received a primetime emmy award nomination for outstanding individual achievement in lighting direction electronic for a drama series variety series miniseries or a special a remastered edition with bonus material to commemorate the album s 25th anniversary was released in'}},
  {'_index': 'wikiir',
   '_type': '_doc',
   '_id': '806263',
   '_score': 14.116629,
   '_source': {'text': 'its corresponding concert tour was the 1987 concert series the liner notes dedicate the album to his homeland in kalamata greece respectively dedicated to the town of kalamata greece which stood strong and waited for me one last time the album was reissued in 2009 by valley entertainment in a review by william ruhlmann of allmusic yanni s second album like his first keys to imagination was recorded entirety on synthesizers at his home studio the composer performer makes extensive use of the orchestral possibilities of electronics creating big themes to play across elaborate echoing rhythm tracks unlike much adult alternative music it s constantly stimulating foreground music with an extremely modern sound 1987 selections from keys to imagination and out of silence it was during this year that yanni was putting together his first touring band to promote his album out of silence as well as selections from keys to imagination although i d written as always with an orchestra in mind i couldn t afford one so i reproduced that sound in my studio with my synthesizers but because i wanted to play everything live onstage and not against tape i needed three keyboard players and a drummer'}},
  {'_index': 'wikiir',
   '_type': '_doc',
   '_id': '799188',
   '_score': 10.251266,
   '_source': {'text': 'singles from the album included rabba released in 2003 and sajan released in 2004 the tunes on sampooran were written incorporating traditional material from the eastern classical tradition and adapting these with music which was based on the jazz rock fusion explosion of the seventies it possesses arguably the finest musical arrangements that have ever been experienced in the country and the compositions really light up the album the album starts with the lukewarm sajan whose lyrics have been taken from a kaafi written by shah hussain a moderate mix of acoustic guitars and percussion and some sweet flute playing renders this a really good opening track waris shah is next with its yanni isque musical intonations and lyrics inspired from texts by amrita preetam the album seems to be getting into a groove as the vocals start getting tuned up and the music gets more and more passionate a classically inspired flute arrangement mixed with soft bass drums and javed bashir does total justice with the lyrics the song has probably lingered on a bit and some pieces seem a bit lengthy but overall it is the vocals that stand out on waris shah more than anything else rabba'}},
  {'_index': 'wikiir',
   '_type': '_doc',
   '_id': '1901730',
   '_score': 9.908206,
   '_source': {'text': 'at age 16 lavie toured canada as a backup singer with the french canadian hip hop group dubmatique after which she recorded her own demo cd lavie s demo cd reached the same producer who had co written mariah carey s first album and lavie accepted his invitation to move to california to work with him in 2006 lavie s vocals were included on the soundtracks of the motion pictures stick it and the guardian in 2007 lavie became one of the earliest to use the internet to reach fans and arouse interest of record labels by october her music video angel was featured on youtube s front page and became a finalist in the 2007 youtube awards music category lavie was listed as singer songwriter in her first album everything or nothing which was released under an independent record label in february 2010 lavie produced and performed in the charity collaboration video we are the world 25 for haiti youtube edition for relief of victims of the 2010 haiti earthquake journalist diane sawyer named the video s contributors abc news persons of the week since 2010 lavie has been a vocalist of contemporary instrumentalist yanni on his tours contributing'}},
  {'_index': 'wikiir',
   '_type': '_doc',
   '_id': '817579',
   '_score': 9.660697,
   '_source': {'text': 'koldenhoven won a grammy award for her singing grammy recipient and is a three time grammy nominee for the lead soprano in clare fischer s 2 2 she was the featured soprano soloist in the pbs television special yanni live at the acropolis and in grammy winner ricky kej s shanti samsara concerts videos in bangalore india for consciousness awareness koldenhoven has an mvp award from the los angeles chapter of the national academy of recording arts and sciences the grammys for best studio singer for singing in venues including movies television albums cds commercials video games live shows she has a platinum album for her vocal work on pink floyd s a momentary lapse of reason she earned a gold album as the tambourine waving choir nun in both sister act films with whoopi goldberg and off camera as the production vocal coach vocal contractor and music director she has two telley awards for her song video love is an action word her albums have debuted or gone to 1 on the zmr radio charts and have been voted by broadcasters worldwide best vocal album 2007 infinite voice best holiday album 2007 heavenly peace a nomination for best vocal'}},
  {'_index': 'wikiir',
   '_type': '_doc',
   '_id': '1727316',
   '_score': 9.660697,
   '_source': {'text': 'contrary to some sources this film was never released under the title vampire playgirls count dracula s great love opens outside a creepy old sanitorium in the carpathian mountains as two delivery men arrive with a large heavy man shaped crate the owner doctor wendell marlow paul naschy has just purchased the sanitorium but has not yet moved in realizing that these rich castle owning types have money and jewels just lying around they decide to wander about and see if there is anything they can steal one is struck in the head with an axe and the other gets his throat ripped out by a man in a black cape with velvet lining the opening scene is repeated over and over again as the opening credits roll meanwhile a stagecoach loaded with four young women karen haydee politoff senta rosanna yanni marlene ingrid garbo and elke mirta miller and imre polvi vic winner a strapping young male who is really nothing more than an extended cameo loses a carriage wheel in the infamous borgo pass when the stagecoach driver is killed in a freak accident the five passengers seek shelter from an oncoming storm in the nearby sanitorium where'}}]}

## Re-ranking

### Sampling by 100 train queries

In [121]:
training_sample = training.sample(100, random_state=123)
training_sample

      id_left            text_left
218     73285      smokey robinson
1341  1271109          gossip girl
1047    13944              vermont
1201    13000             tiberius
1195    73669              shivaji
...       ...                  ...
1327     7535     latin literature
646   1264172      english studies
185     24349  bourbon restoration
1242     8998              nigeria
1033   104267    northern mindanao

[100 rows x 2 columns]

## Scoring by BM25 the training set

In [122]:
# Creating query-doc-score nested dict

query_doc = {}

for i, row in training_sample.iterrows():
    search_res = elasticsearch.search(index='wikiir', query=make_query(row['text_left']), size=50)['hits']
    query_doc[str(row['id_left'])] = {}
                 
    for hit in search_res['hits']:
        query_doc[str(row['id_left'])][hit['_id']] = hit['_score']

C:\Users\kuany\AppData\Local\Temp\ipykernel_9276\1182449633.py:6: ElasticsearchWarning: Elasticsearch built-in security features are not enabled. Without authentication, your cluster could be accessible to anyone. See https://www.elastic.co/guide/en/elasticsearch/reference/7.15/security-minimal-setup.html to enable security.
  search_res = es.search(index='wikiir', query=make_query(row['text_left']), size=50)['hits']

## Normalization

In [123]:
def normalize_query_doc(query_doc):
    '''
    Description:
        One way to normalize scores and bring them into a standard range is by using Min-Max normalization. 
        This method scales the values linearly to fit within the [0,1] range, with the minimum value being mapped to 0 and the maximum value to 1.
    Args:
        query_doc: queryid-document-score nested dict
    Returns:
        query_doc_norm: queryid-document-score nested dict with normalised scores
    '''

    query_doc_norm = {}
    
    for query in query_doc.keys():
        query_doc_norm[query] = {}
        
        if len(query_doc[query].values()) == 0:
            continue
            
        scores_min = min(query_doc[query].values())
        scores_max = max(query_doc[query].values())
                
        for doc in query_doc[query].keys():
            # division by zero only happens when search returns docs, all having the same score (min=max)
            # so we consider the following cases
            if scores_max-scores_min == 0:
                query_doc_norm[query][doc] = (query_doc[query][doc]-scores_min)/scores_max
            else:
                query_doc_norm[query][doc] = (query_doc[query][doc]-scores_min)/(scores_max-scores_min)
                
    return query_doc_norm


query_doc_norm = normalize_query_doc(query_doc)  # min-max normalizing BM25 scores
query_doc_norm[next(iter(query_doc_norm))] # Example: first query normalized docs scores

{'940359': 1.0,
 '891183': 0.9070208971351378,
 '313257': 0.9009368372057258,
 '1178786': 0.8785646663768064,
 '2095859': 0.871778916620803,
 '1447257': 0.8535369073670035,
 '2095725': 0.8404417278844232,
 '73285': 0.8250473141737416,
 '1586500': 0.7998564413654435,
 '1586232': 0.7785803767705302,
 '1002413': 0.7463635909044294,
 '1288012': 0.7135760223178509,
 '2303869': 0.7065682158933247,
 '1228192': 0.6943614171838423,
 '1289415': 0.6569291504390781,
 '152342': 0.6206207277495096,
 '1741112': 0.4517866970796467,
 '1253150': 0.41229235447795154,
 '1746762': 0.3466904811271479,
 '122936': 0.31675251137077304,
 '2450230': 0.29875428674542825,
 '1284918': 0.26118980305299405,
 '1608426': 0.2539514645145816,
 '1587519': 0.24306182706408483,
 '889237': 0.22662547292022003,
 '1177941': 0.2222894350722713,
 '2135393': 0.2222894350722713,
 '1527105': 0.21535166664624847,
 '1399732': 0.21535166664624847,
 '711399': 0.21535166664624847,
 '1615027': 0.21535166664624847,
 '1130382': 0.20673059772153832,
 '2281101': 0.20673059772153832,
 '856266': 0.20673059772153832,
 '931217': 0.20673059772153832,
 '2142712': 0.20673059772153832,
 '801976': 0.18734132136353887,
 '1687890': 0.18734132136353887,
 '182530': 0.18734132136353887,
 '1383895': 0.18734132136353887,
 '273732': 0.18057406348832838,
 '1381228': 0.18057406348832838,
 '435754': 0.18057406348832838,
 '88974': 0.18016184864565077,
 '301448': 0.14856222930101687,
 '1823832': 0.10848053833563365,
 '2073272': 0.10848053833563365,
 '835275': 0.021869808067375703,
 '2449895': 0.0,
 '546487': 0.0}

## Accquiring cosine similarities for the training set

In [124]:
def get_cosine_similarity_training_document_from_model(model, query_doc): #
    '''
    Args:
        model: SentenceTransformer model('msmarco-distilbert-cos-v5')
        query_doc: queryid-document-score nested dict
    Returns:
        query_doc_cosine: queryid-document-cosine_similarity_score nested dict
    '''

    q_ids = list(query_doc.keys())  # q_ids -- list of strings
    query_doc_cosine = {}

    for q_id in tqdm(q_ids, total=len(q_ids), bar_format='{l_bar}{bar:30}{r_bar}{bar:-10b}'):
        
        # encoding the query
        query_text = training_sample[training_sample['id_left']==int(q_id)].iloc[0]['text_left']
        query_embedding = model.encode(query_text)
        query_doc_cosine[q_id] = {}

        # documents encoding
        docs_texts = []
        for doc_id in query_doc[str(q_id)]:
            docs_texts.append(df[df['id_right']==int(doc_id)].iloc[0]['text_right'])
        docs_embedding = model.encode(docs_texts)

        # computing cosine similarity
        if len(docs_embedding) == 0:
            continue
        cos_sim_score = util.cos_sim(query_embedding, docs_embedding)[0]
        for i, doc_id in enumerate(query_doc[str(q_id)]):
            query_doc_cosine[q_id][doc_id] = cos_sim_score[i].item()
            
    return query_doc_cosine

In [125]:
model = SentenceTransformer('msmarco-distilbert-cos-v5')
#model = SentenceTransformer('msmarco-MiniLM-L6-cos-v5')

query_doc_cosine = get_cosine_similarity_training_document_from_model(model, query_doc)

100%|██████████████████████████████| 100/100 [12:15<00:00,  7.35s/it]

## Getting the optimal alpha

Formula:
    alpha*BM25 + (1-alpha) * q_d_cosine_similarity

In [131]:
def combine_function(query_doc1, query_doc2, alpha):
    '''
    Args:
        query_doc1: scores of the first document
        query_doc2: scores of the second document
        alpha: 
    Returns:
        query_doc_mix: combination of query_doc1 and query_doc2
    '''

    query_doc_mix = {}
    
    for query in query_doc1.keys():
        query_doc_mix[query] = {}
        
        for doc in query_doc1[query].keys():
            bm25 = query_doc1[query][doc]
            cos_sim = query_doc2[query][doc]
            
            query_doc_mix[query][doc] = alpha*bm25 + (1-alpha)*cos_sim
    
    return query_doc_mix

In [132]:
# Retirieving training qrels
samples_q_ids = training_sample['id_left'].values.tolist()

qrels = list(ir_measures.read_trec_qrels('wikIR1k/train/qrels'))

qrels_sample = []
for qrel in qrels:
    if int(qrel[0]) in samples_q_ids:
        qrels_sample.append(qrel)

In [133]:
alpha_arr = np.arange(0.1, 1.1, 0.1)
alpha_arr

array([0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1. ])

In [139]:
results = {}

for alpha in alpha_arr:
    query_doc_mix = combine_function(query_doc_norm, query_doc_cosine, alpha)
    map20 = ir_measures.calc_aggregate([MAP@20], qrels_sample, query_doc_mix)
    map20 = list(map20.values())[0]
    results[alpha] = map20
    
results_sorted = dict(sorted(results.items(), key=lambda item: item[1], reverse=True))

print('alpha \t MAP@20')
print("---------------")
for alpha, score in results_sorted.items():
    print(f' {round(alpha,1)}\t{round(score,5)}')


alpha_best_score = next(iter(results_sorted))

print("\nBest alpha:",alpha_best_score, ", Score:",results_sorted[alpha_best_score])

alpha 	 MAP@20
---------------
 0.2	0.20377
 0.3	0.19877
 0.1	0.19826
 0.4	0.19535
 0.5	0.18978
 0.6	0.18328
 0.7	0.18095
 0.8	0.17577
 0.9	0.17394
 1.0	0.16886

Best alpha: 0.2 , Score: 0.2037672374159032

##  Applying the combine function to test queries

### Normalised BM25 scores

In [98]:
query_doc_bm25 = {}

for i, row in testing.iterrows():
    search_res = elastic_search.search(index='wikiir', query=make_query(row['text_left']), size=50)['hits']
    query_doc_bm25[str(row['id_left'])] = {}
                 
    for hit in search_res['hits']:
        query_doc_bm25[str(row['id_left'])][hit['_id']] = hit['_score']

qrels = ir_measures.read_trec_qrels('wikIR1k/test/qrels')
print(ir_measures.calc_aggregate([P@10, P@20, MAP@20], qrels, query_doc_bm25))

C:\Users\kuany\AppData\Local\Temp\ipykernel_9276\3479613525.py:4: ElasticsearchWarning: Elasticsearch built-in security features are not enabled. Without authentication, your cluster could be accessible to anyone. See https://www.elastic.co/guide/en/elasticsearch/reference/7.15/security-minimal-setup.html to enable security.
  search_res = es.search(index='wikiir', query=make_query(row['text_left']), size=50)['hits']

{P@20: 0.14700000000000005, P@10: 0.20599999999999988, AP@20: 0.14533487119899494}

### Normalized cosine similarity scores

In [106]:
query_doc_cosine_2 = get_cosine_similarity_testing_document_from_model(model, query_doc_bm25)

100%|██████████████████████████████| 100/100 [12:08<00:00,  7.29s/it]

In [111]:
qrels = ir_measures.read_trec_qrels('wikIR1k/test/qrels')
print(ir_measures.calc_aggregate([P@10, P@20, MAP@20], qrels, query_doc_cosine_2))

{P@20: 0.15800000000000003, P@10: 0.23300000000000007, AP@20: 0.1763766531713263}

### Combination of BM25 and CosineSimilarity (alpha_best)

In [112]:
# normalizing bm25 scores from testing
query_doc_bm25_norm = normalize_query_doc(query_doc_bm25)

In [113]:
# combining BM25 and cosine similarity scores of testing using alpha best
query_doc_final = combine_function(query_doc_bm25_norm, query_doc_cosine_2, alpha_best_score)

In [114]:
# evaluation of combine scores
qrels = ir_measures.read_trec_qrels('wikIR1k/test/qrels')
print(ir_measures.calc_aggregate([P@10, P@20, MAP@20], qrels, query_doc_final))

{P@20: 0.16450000000000006, P@10: 0.24200000000000008, AP@20: 0.18128666321804765}

In [115]:
alpha_best_score

0.2

## Printing the scores of the first testing query id

In [145]:
print("Query ID: ", list(query_doc_final.keys())[0])
for i in range (50):
    if i == 25:
        print("---------------")
    print("Doc",list(query_doc_final['158491'].keys())[i],", score",round(query_doc_final['158491'][list(query_doc_final['158491'].keys())[i]],3))

Query ID:  158491
Doc 1880296 , score 0.414
Doc 607552 , score 0.504
Doc 2261272 , score 0.348
Doc 1957435 , score 0.48
Doc 625257 , score 0.382
Doc 635537 , score 0.585
Doc 1774491 , score 0.437
Doc 663828 , score 0.327
Doc 158491 , score 0.499
Doc 1956922 , score 0.277
Doc 1180246 , score 0.257
Doc 1170039 , score 0.339
Doc 945068 , score 0.258
Doc 360918 , score 0.434
Doc 589549 , score 0.302
Doc 685181 , score 0.295
Doc 2411344 , score 0.197
Doc 1158969 , score 0.337
Doc 1093529 , score 0.334
Doc 742912 , score 0.408
Doc 967619 , score 0.302
Doc 2337647 , score 0.151
Doc 1059585 , score 0.342
Doc 637819 , score 0.064
Doc 1397771 , score 0.333
---------------
Doc 2225325 , score 0.197
Doc 1079407 , score 0.177
Doc 1485043 , score 0.167
Doc 2390322 , score 0.153
Doc 1422090 , score 0.306
Doc 1490799 , score 0.238
Doc 289756 , score 0.253
Doc 547150 , score 0.135
Doc 13801 , score 0.239
Doc 621578 , score 0.251
Doc 313493 , score 0.5
Doc 345165 , score 0.332
Doc 1454621 , score 0.316
Doc 1744323 , score 0.133
Doc 182202 , score 0.226
Doc 2449064 , score 0.129
Doc 2416831 , score 0.159
Doc 1430204 , score 0.073
Doc 2244838 , score 0.071
Doc 1902205 , score 0.17
Doc 899723 , score 0.05
Doc 1094293 , score 0.107
Doc 1097954 , score 0.126
Doc 282791 , score 0.095
Doc 1105213 , score 0.061